<form 
    class="newRoomContainer"
    (ngSubmit)="updateRoom(i)"
    fxLayout="column"
    *ngIf="route == '/home/admin'">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New name</mat-label>
        <input
            id="{{roomIdInput}}"
            matInput
            name="name"
            [(ngModel)]="newName.name">
    </mat-form-field>
    <button 
        id="btnAddRoom"
        type="submit"
        mat-raised-button 
        color="primary">Change room name
    </button>
</form>